@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mona Sans";
    font-weight: 200 900;
    font-display: block;
    font-style: normal;
    font-stretch: 75% 125%;
    src: url("../fonts/Mona-Sans.var.woff2") format("woff2");
}

body {
    background: #101827;
}

.custom-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* animations */

.fadein-animation {
    transition: visibility 0.2s, opacity 0.2s linear;
}

/* slider styles */

.partnerLogos {
    overflow: hidden;
    white-space: nowrap;
}

.logoContainer {
    animation: slide 25s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
